/*global*/
.content-flex {
  display: flex;
}

/* top bar */


/* side bar*/
.side-bar {
  padding: 20px;
  width: 20%;
  height: 100vh;
  border-right: 1px solid rgb(247, 214, 255);
}
.fa-users,
.fa-user-plus {
  color: #183153;
  margin-right: 10px;
}
.item-link {
  color: black;
  text-decoration: none;
  font-size: 22px;
  display: block;
  margin-bottom: 10px;
  transition: 0.3s;
}
.item-link:hover {
  background-color: #84a5d5;
  border-radius: 10px;
}
.active {
  background-color:#C491F7;
  border-radius: 10px;

}
/*table*/
table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}
tr:nth-child(even) {
  background-color: aliceblue;
}
th,
td {
  border: 1px solid rgb(172, 238, 245);
  padding: 0.75rem;
}
th {
  background-color: rgb(196, 145, 247);
  color: #fff;
}
td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
